body {
  font-family: 'helvetica','Open Sans', sans-serif, Arial;
}

h2 {
  text-align: center;
  padding-bottom: 5%;
}

p {
  text-align: justify;
}

body {
  background-color: #F5F5F5;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding-bottom: 3%;
}

.input-group-append, .input-group-text {
  margin: 0px 0px 5px 0;
}

.input-group {
  margin-bottom: 5%;
}

@media only screen and (max-width: 500px) {
  .inner {
    width: 90%;
  }
}

.checkboxLabel {
  padding-left: 3%;
}

.checkbox {
  margin-left: 1%;
}
